<div class="d-flex flex-column">
    <app-navbar></app-navbar>
    <div class="d-flex" style="min-width: 100vw; min-height: 100vh;">
        <!-- <div class="p-2 d-flex flex-column" style="background-color: #F1F2F7; width: 20vw;">
            <div role="button" class="rounded" *ngFor="let item of list" style="color: #5A6ACF">
                <div class="dashboard-list-item border rounded m-2 p-2" [routerLink]="[item.url]">
                    {{ item.name }}
                </div>
            </div>
        </div> -->
        <app-admin-sidebar></app-admin-sidebar>
        <div class="p-4" style="width: 80vw;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>