
<div class="container-fluid" >
    <div class="row">
      <div class="col-md-12">
        <section id="about" class="py-5" style="background-color: #fff; color: #333;">
          <div class="container">
            <h2 class="section-heading" style="color: #00bfae;">About Us</h2>
            <hr class="my-4" style="border-color: #00bfae;">
            <p class="mb-4" style="font-size: 1.1em;">
              Our company fosters a culture of innovation and collaboration, creating meaningful work experiences. We are committed to promoting a supportive environment where everyone can thrive.
            </p>
            <p class="mb-4" style="font-size: 1.1em;">
              This website was crafted by our dedicated team:
            </p>
            <ul class="list-unstyled">
              <li>Rajnandini</li>
              <li>Shivam</li>
              <li>Aghnash</li>
              <li>Parush</li>
              <li>Rajdeep</li>
              <li>Ronak</li>
            </ul>
            <div class="mt-5">
              <h4 class="mb-3" style="color:#00bfae;">Get in Touch With Sales</h4>
              <p>
                Complete this form or call <a href="tel:9717779589" style="color:#00bfae;">9717779589</a> or <a href="tel:9717779426" style="color: #00bfae;">9717779426</a> now.
              </p>
              <a href = "https://www.linkedin.com/company/ukg/mycompany/verification/" target="_blank" class="btn btn-success" style="background-color: #00bfae; border-color:#00bfae;">
                Connect with us on LinkedIn
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  
