<div class="container mt-4" style="width: 60%;">
    <div class="card shadow-sm">
      <div class="card-body">
        <!-- Profile Image -->
        <div class="text-center mb-2">
            <!-- <i class="fa-solid fa-user fa-2xl"></i> -->
        </div>
 
        <!-- Profile Details -->
        <div class="mb-2">
          <label for="employeeId" class="form-label">Employee ID</label>
          <input type="text" class="form-control" id="employeeId" value="1" readonly />
        </div>
        <div class="mb-2">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" value="Rajnandini Tiwari" readonly />
        </div>
        <div class="mb-2">
          <label for="dob" class="form-label">Date of Birth</label>
          <input type="text" class="form-control" id="dob" value="May 10, 2001" readonly />
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" value="rajnandinitiwari463@gmail.com" readonly />
        </div>
        <div class="mb-2">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone" value="6260245360" readonly />
        </div>
      </div>
    </div>
  </div>