<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 bg-light p-3 d-flex flex-column" style="height: 100vh; box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);">
        <div class="list-group flex-grow-1">
          <a *ngFor="let item of items; let i = index"
             [routerLink] = "[item.link]"
             class="list-group-item list-group-item-action rounded d-flex justify-content-between align-items-center"
             [ngClass]="{'active': item.isActive}"
             >
            <div class="d-flex align-items-center">
              <i [class]="item.icon"></i> {{ item.name }}
            </div>
            <i class="fas fa-chevron-right" (click)="navigateToPage(item.link)"></i>
          </a>
        </div>
      </div>
  
      <!-- Main content -->
      <div class="col-md-9">
        <!-- Your main content goes here -->
      </div>
    </div>
  </div>
  