<div class="jumbotron">
    <h1 class="display-4">Hello, {{empDetails.name}} </h1>
    <p class="lead">Welcome to the {{empDetails.role}} dashboard. Manage your tasks, track your progress, and stay updated with everything you need. Learn more about PayWise and its features by clicking the button below.</p>
    <hr class="my-4">
    <!-- <a class="btn btn-primary btn-lg" href="whyukg" role="button">Learn more</a> -->
    <a class="btn btn-primary btn-lg" [routerLink]="['whyukg']" role="button">Learn more</a>
  </div>