<!-- Footer -->
<footer class="py-4 mt-auto w-100" style="background-color: #00bfae; color: #fff;">
    <div class="container">
      <div class="row">
        <!-- Tagline -->
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <h5 style="color: #fff;">PayWise: Our Purpose is People</h5>
          <a [routerLink] = "['whyukg']" style="color: #fff;">Why PayWise?</a>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-md-6 text-center text-md-right">
          <a href="https://www.instagram.com" target="_blank" class="text-white mr-3" style="color: #fff;">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://www.twitter.com" target="_blank" class="text-white mr-3" style="color: #fff;">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="https://www.linkedin.com/company/ukg" target="_blank" class="text-white" style="color: #fff;">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </div>
      </div>
  
      <hr style="border-color: #fff;">
  
      <div class="row">
        <!-- Copyright and Protection Notice -->
        <div class="col-md-12 text-center">
          <p class="mb-0" style="color: #fff;">&copy; 2024 PayWise. All rights reserved.</p>
          <p class="mb-0" style="color: #fff;">Your privacy and protection are important to us.</p>
        </div>
      </div>
    </div>
  </footer>
  